@import "compass/css3";
$rouge1 : rgb(216, 133, 130);
$rouge2 : rgb(245, 88, 85);
$rouge3 : rgb(188, 0, 0);
/*rouge : rgba(196,20,20,1) // degradé a modifier*/

$bleu1 : rgb(6, 210, 237);
$bleu2 : rgb(97, 182, 255);

$gris1 : rgb(90, 90, 90);

::-moz-selection { color: white;  background: $rouge3; }
::selection      { color: white;  background: $rouge3; } 

/* scroll bar */
::-webkit-scrollbar {
	width: 15px;
	background-color: $rouge2;
}

::-webkit-scrollbar-thumb {
	background: $rouge3;
}

/* progress bar */
#progressBar{
	position: fixed;
	top: 2.8em;
	left: 0px;
	right: 0px;
	width: 100%;
	z-index: 999;
}
#progressBarInside {
	position: fixed;
	height: 8px;
	width: 0%;
	background: $rouge2;
	box-shadow: 0px 4px 2px $rouge3;
}

/* main body */
#corps {
	margin-top: 50px;
	background: $gris1;
	clear: both;
}

#corps_bis
{
	height: 100%;
	display: inline-block;
	background-color: black;
	height: auto;
	width:98%;/* Ajouter pour que les news fonctionnent*/overflow:auto;
	color: white;
	margin: 0px;/*50*/
	padding-bottom: 25px;
	padding: 0px 10px;
	background-color: #474747;
}
h2
{
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 600;
	font-size: 2.5em;
}
h3 {
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 400;
	font-size: 1.8em;
}
h4 {
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 1.2em;
}
strong
{
	font-weight: bold;
	color: rgb(6, 210, 237);
	text-decoration: underline;
}

em
{
	font-style: italic;
	color: rgb(188, 0, 0);
}





hr
{
	border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(180,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(180,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(180,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(180,0,0,0.75), rgba(0,0,0,0));

}

table
{
    border-collapse: collapse; /*permet de coller les bordure entre les cellules*/
	margin-top : 	20px;
	margin-bottom: 	20px;
}
td, th 
{
    border: 3px groove black;
}



/* Footer */
footer
{
	clear: both;
	text-align: center;
	background-color: $rouge3;
	font-size: 90%;

}


#cadre_footer
{
	position: relative;
	overflow: hidden;
	padding: 10px 50px;/**/
	width: 900px;
	margin: auto;

}

#rond1, #rond2, #rond3, #rond4, #rond5, #rond6
{
	position: absolute;
}
#rond1 { bottom : -35px; left : 	0px;	}
#rond2 { bottom : -35px; right: 	180px; 	}
#rond3 { bottom : -25px; right: 	300px; 	}
#rond4 { bottom : -25px; left: 		300px; 	}
#rond4 { bottom : -25px; left: 		300px; 	}
#rond5 { bottom : -50px; left: 		100px; 	}
#rond6 { bottom : -35px; right: 	180px; 	}


@import "partials/menu";
@import "partials/bandeau" ;

.link_keyword {
	text-decoration: none;
	color: $rouge1;
	margin: 0 10px;
	padding: 5px 10px;
	position: relative;
	overflow: hidden;
	display: inline-block;

	@include transition(.3s ease-out);
	span{
		&::before{
			width: 5px;
			height: 5px;
			background: transparent;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			border-top: 2px solid $bleu1;
			border-left: 2px solid $bleu1;
			@include transition (.3s);
			opacity: 0;
		}
		&::after{
			width: 5px;
			height: 5px;
			background: transparent;
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			border-right: 2px solid $bleu1;
			border-bottom: 2px solid $bleu1;
			@include transition (.3s);
			opacity: 0;

		}
	}
	&::before {
		width: 5px;
		height: 5px;
		background: transparent;
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		border-right: 2px solid $bleu1;
		border-top: 2px solid $bleu1;
		@include transition (.3s);
		opacity: 0;
	}
	&::after {
		width: 5px;
		height: 5px;
		background: transparent;
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		border-left: 2px solid $bleu1;
		border-bottom: 2px solid $bleu1;
		@include transition (.3s);
		opacity: 0;
	}
	&:hover{
		color: white;
		&::before{
			opacity: 1;
			right: 5px;
			top: 5px;
		}
		&::after{
			opacity: 1;
			left: 5px;
			bottom: 5px;
		}
		span{
			&::before{
				opacity: 1;
				left: 5px;
				top: 5px;
			}
			&::after{
				opacity: 1;
				right: 5px;
				bottom: 5px;
			}
		}
	}
}

a {
		color: $bleu1;
		margin: 0 10px;
		padding: 5px;
		position: relative;
		overflow: hidden;
		display: inline-block;
		@include transition(.3s ease-out .1s);
		span{
			&::before{
				width: 100%;
				height: 2px;
				background: $rouge1 ;
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				@include transition (.1s);
				@include translateX (-100%);
			}
			&::after{
				width: 100%;
				height: 2px;
				background: $rouge1 ;
				content: "";
				position: absolute;
				right: 0;
				bottom: 0;
				@include transition (.1s .2s);
				@include translateX (100%);

			}
		}
		&::before {
			width: 2px;
			height: 100%;
			background: $rouge1 ;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			@include translateY (100%);
			@include transition (.1s .3s);

		}
		&::after {
			width: 2px;
			height: 100%;
			background: $rouge1 ;
			content: "";
			position: absolute;
			right: 0px;
			bottom: 0;
			@include translateY (-100%);
			@include transition (.1s .1s);

		}
		&:hover{
			color: $rouge1 ;
			&::before,
			&::after {
				@include translateX (0);
			}
			span{
				&::before,
				&::after {
				@include translateX (0);
				}
			}
		}
	}