app/bootstrap*
app/cache/*
app/logs/*
vendor/*
bin/*
Old/*
app/config/parameters.yml
tuto.docx
web/bundles/
web/config.php
web/.sass-cache/*
web/assetic/*
web/css/*
web/lol/*
web/uploads/img/*
web\js\tinymce\*
.idea/*