{# src/Echyzen/NewsBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }} - News
{% endblock %}



{% block body %}
	  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
	<div id="bandeau"><h1>News</h1><div id="bandeau_centre"></div></div>
 

	<div id="corps_bis">

		<div id="news1">
			{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
			{% block echyzen_news_body %}
			{% endblock %}
			<div id="news1bis">
			</div>
		</div>
		<div id="categorie">

			<div id="rubrique">
				<h2>Rubrique</h2>
				<ul>
					<li><a href="#">Découverte</a></li>
					<li><a href="#">Info</a></li>
					<li><a href="#">Projet</a></li>
					<li><a href="#">Site</a></li>
					<li><a href="#">Spécial</a></li>
					<li><a href="#">Autre</a></li>
				</ul>
			</div>

			<div id="mot_clé">
				<h2>Mots-Clés</h2>
				<ul>
					<li><a href="#">Web</a></li>
					<li><a href="#">Ajax</a></li>
				</ul>
			</div>			
			<div id="archive">
				<h2>Archive</h2>
				<ul>
					<li><a href="#">Juin 2014</a></li>
				</ul>
			</div>
		</div>

	</div>


{% endblock %}