{# src/Sdz/BlogBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }} - News
{% endblock %}



{% block body %}
	  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
	<div id="bandeau"><h1>News</h1><div id="bandeau_centre"></div></div>
 

	<div id="corps_bis">

		<div id="news1">
			{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
			{% block echyzen_news_body %}
			{% endblock %}
			<div id="news1bis">
			</div>
		</div>
			<div id="categorie">
		<p>
			Ceci est un test		lol c'est un simple test
			je repete un teste<br />
		</p>
	</div>

	</div>


{% endblock %}