.tile {
	position: relative;
	margin: 0 auto;
	list-style: none:;
}

/* Common style */
.tile figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 320px;/*480px;*/
	max-height: 290px;/*360px;*/
	width: 48%;
	background: rgba(80, 219, 103, 0.8);/* A modifier par le JQuery selon livre/jeu/film*/
	text-align: center;
	cursor: pointer;
	color: white;
}

.tile figure img {
	position: relative;
	display: block;
	min-height: 100%;
	min-width: 100%;
	opacity: 0.9;
}


.tile figure figcaption,
.tile figure figcaption > span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.tile figure figcaption > span {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}





.tile figure p {
	margin: 0;
}

.tile figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Zoe *****/
/*---------------*/
figure.tile_effect h2 {
	 margin: 0;
	 padding: 0;
	 width : 100%;
	 font-size: 1.5em;
	 /*height : 30px;*/
}
figure.tile_effect figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	padding-top: 0.3em;
	height: 1.75em;
	background-color: rgba(240, 81,74, 0.9);
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}


figure.tile_effect p.tile_effect_icon span {
	float: right;
	margin-top: 0.4em;
	margin-right: 1em;
	/*font-size: 1.4em;*/
}
.tile_effect_icon_social {
	float: left; clear: left; margin: 0; position: absolute; left: 0px; margin-left: 5px;
}

figure.tile_effect p.description {
	position: absolute;
	bottom: 8em;
	background-color: rgba(97, 182, 255, 0.5);/* A modifier par le JQuery selon livre/jeu/film*/
	text-align: left;
	padding : 0.4em;
	width : 83%;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.tile_effect .tile_effect_date,
figure.tile_effect p.tile_effect_icon span {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.tile_effect p.tile_effect_icon span::before {
	display: inline-block;
	padding: 8px 10px;
	/*font-family: 'feathericons';*/
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tile_effect_icon_eye::before {
	content: '\e000';
}

.tile_effect_icon_twitter::before {
	content: '\e001';
}
.tile_effect_icon_facebook::before {
	content: '\e002';
}
.tile_effect_icon_google::before {
	content: '\e003';
}
.tile_effect_icon_heart::before {
	content: '\e024';
}

figure.tile_effect .tile_effect_date {
	display: inline-block;
}

figure.tile_effect:hover p.description {
	opacity: 1;
}

figure.tile_effect:hover figcaption,
figure.tile_effect:hover .tile_effect_date,
figure.tile_effect:hover p.tile_effect_icon span {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.tile_effect:hover .tile_effect_date {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.tile_effect:hover p.tile_effect_icon span:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.tile_effect:hover p.icon-link span:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.tile_effect:hover p.tile_effect_icon span:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

@media screen and (max-width: 50em) {
	/*.content {
		padding: 0 10px;
		text-align: center;
	}*/
	.tile figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
