{# src\NewsBundle\Resources\views\Form\fields.html.twig #}
{% block textparse_widget %}
{% spaceless %}
    <div class="textparse">
        {{ block('textarea_widget') }}
    </div>
{% endspaceless %}
{% endblock %}
