{# src/Echyzen/Admin/Resources/views/news/index.html.twig #}

{% extends "EchyzenAdminBundle::layout.html.twig" %}

{% block body %}
	<a href="{{ path('admin_news_liste') }}">News</a>
	<a href="{{ path('admin_rubrique_liste') }}">Rubrique</a>
{% endblock %}
